  <!doctype html>
    <html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head" >

    </head>
    <body>

      <header th:replace= "/fragments/header :: header" >

      </header>

      <main>

        <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">Librería WEB</h1>
              <p class="lead text-muted">Librería Virtual WEB V 1.0</p>
              <p>
                <a th:href="@{/libro/lista}" class="btn btn-primary my-2">Panel de Libros</a>
                <a th:href="@{/autor/lista}" class="btn btn-primary my-2">Panel de Autores </a>
                <a th:href="@{/editorial/lista}" class="btn btn-primary my-2">Panel de Editoriales </a>
              </p>
            </div>
          </div>
        </section>

        <div class="album py-5 bg-light">
          <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

              <div class="col" th:each="libro : ${libros}">
                <div class="card shadow-sm">
                  <!-- <img class="bd-placeholder-img card-img-top img-thumbnail" th:src="${perro.foto}"> -->
                  <div class="card-body">
                    <p class="card-text" th:text="'El libro ' + ${libro.isbn} + ' tiene de título: '+ ${libro.isbn}"></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </main>

      <footer class="text-muted py-5">
        <div class="container">
          <p class="float-end mb-1">
            <a href="#">Back to top</a>
          </p>
          <p class="mb-1">Libreria WEB V. 1.0 by Román Enrich</p>

        </div>
      </footer>


      <script src="js/bootstrap.bundle.min.js"></script>


    </body>


    </html>



